*, *::before, *::after
{
	box-sizing: border-box;
	outline: none;
}
body
{
	background: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.page-container
{
	display: block;
	font-family: inherit;
	margin: 0 auto;
	max-width: 1000px;
	min-height: 100vh;
}
.page-container__wrap
{
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 100vh;
	justify-content: center;
	width: 100%;
}
.auth
{
	background-color: #f5f5f5;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	font-family: inherit;
	padding: 22px 20px 25px;
	width: 360px;
}
.auth__input
{
	background: white;
	border: 1px solid #cccccc;
	border-radius: 4px;
	border-radius: 5px;
	font-size: inherit;
	height: 36px;
	line-height: 36px;
	padding-left: 5px;
	width: 100%;
}
.auth__input:hover
{
	border-color: #aaaaaa;
}
.auth__input:focus
{
	border-color: #6495ed;
}
.auth__title
{
	display: block;
	font-weight: bold;
	margin-bottom: 6px;
	padding-left: 3px;
}
.auth__item
{
	margin-bottom: 16px;
	margin-top: 2px;
}
.auth__button
{
	background-color: hsl(180, 100%, 27%);
	border: none;
	border-radius: 4px;
	color: white;
	display: block;
	font-family: inherit;
	font-size: inherit;
	height: 36px;
	line-height: 36px;
	width: 100%;
}
.auth__button:hover
{
	background-color: hsl(180, 100%, 23%);
}
.auth__button:active, .auth__button:focus
{
	background-color: hsl(180, 100%, 33%);
}
